.container {
  width: 70%;
  margin: 10% auto;
  text-align: center;
}

.btn {
  padding: 10px 30px;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  background-color: bisque;
  border: 0;
  border-radius: 5%;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 10%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}
